In [ ]:
# Import Dependencies
import pandas as pd

In [ ]:
# File to Load
csv_path = "Resources/books_clean.csv"

# Read the modified GoodReads csv and store into Pandas DataFrame
booksClean_df = pd.read_csv(csv_path, encoding="utf-8")

booksClean_df.head(10)

In [ ]:
booksClean_df.describe()

In [59]:
# Calculate the number of unique authors in the DataFrame
num_of_authors = booksClean_df["Authors"].nunique()
num_of_authors

4664

In [ ]:
booksClean_df["Authors"].value_counts()

In [57]:
# Calculate the earliest/latest year a book was published
earliestYear = int(booksClean["Publication Year"].min())
earliestYear

-1750

In [58]:
latestYear = int(booksClean["Publication Year"].max())
latestYear

2017

In [51]:
# Calculate the total reviews for the entire dataset
sumRV_1 = booksClean_df["One Star Reviews"].sum()
sumRV_2 = booksClean_df["Two Star Reviews"].sum()
sumRV_3 = booksClean_df["Three Star Reviews"].sum()
sumRV_4 = booksClean_df["Four Star Reviews"].sum()
sumRV_5 = booksClean_df["Five Star Reviews"].sum()

TotalReview = sumRV_1 + sumRV_2 + sumRV_3 + sumRV_4 + sumRV_5

In [60]:
# Hint: use the pandas' sum() method to get the sum for each row
TotalReview

596873216

In [63]:
# Place all of the data found into a summary DataFrame
books_summary_df = pd.DataFrame(
    {"No. of Authors": [num_of_authors],
     "Earliest Year Published": [earliestYear],
     "Lastest Year Published": [latestYear],
     "Total Reviews": [TotalReview]
     })

books_summary_df

,No. of Authors,Earliest Year Published,Lastest Year Published,Total Reviews
0,4664,-1750,2017,596873216