# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset (consider using a left join
main_merge = pd.merge(student_data, school_data, on="school_name", how="left")
main_merge.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [5]:
# Calculate the Totals (Schools and Students)
total_school = main_merge["school_name"].nunique()
print(f'--- {total_school} schools ---')

total_student = main_merge["student_name"].count()
print(f'--- {total_student} students ---')

--- 15 schools ---
--- 39170 students ---

In [6]:
#Total Budget
total_budget = school_data["budget"].sum()
print(f'Total Budget : ${total_budget}')

Total Budget : $24649428

In [7]:
# Calculate the Average Scores
#Average Math Scores
avg_math = main_merge["math_score"].mean()
print(f'Avg. Math Score : {avg_math}')

avg_reading = main_merge["reading_score"].mean()
print(f'Avg. Reading Score : {avg_reading}')


# Calculate the Percentage Pass Rates
std_pass_math = (main_merge.loc[main_merge["math_score"] >= 70, "math_score"]).count()
percent_pass_math = std_pass_math / total_student
print(f'%STD pass Math : {percent_pass_math}')

std_pass_reading = (main_merge.loc[main_merge["reading_score"] >= 70, "reading_score"]).count()
percent_pass_reading = std_pass_reading / total_student
print(f'%STD pass Reading : {percent_pass_reading}')

Avg. Math Score : 78.98537145774827
Avg. Reading Score : 81.87784018381414
%STD pass Math : 0.749808526933878
%STD pass Reading : 0.8580546336482001

In [8]:
overall_pass = (main_merge.loc[(main_merge["math_score"] >= 70) & (main_merge["reading_score"] >= 70), "student_name"])
print(f'Overall passing : {overall_pass.count()} students.')

overall_percent_pass = (avg_math + avg_reading) / 2
print(f'Overall Percent Passing : {overall_percent_pass}')

Overall passing : 25528 students.
Overall Percent Passing : 80.43160582078121

In [9]:
minor_clean_cols = {"Total Schools" : total_school,
                       "Total_Students" : total_student,
                       "Total Budget" : total_budget,
                       "Average Math Score" : avg_math,
                       "Average Reading Score" : avg_reading,
                       "% Passing Math" : percent_pass_math,
                       "% Passing Reading" : percent_pass_reading,
                       "% Overall Passing Rate" : overall_percent_pass}

district_summary = pd.DataFrame([minor_clean_cols])
district_summary.head()

,Total Schools,Total_Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

## School Summary

In [10]:
# School Names
school_name = school_data["type"].value_counts()
print(school_name)

# Determine the School Type
school_type = school_data["school_name"].unique()
print(school_type)

Charter     8
District    7
Name: type, dtype: int64
['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [11]:
main_merge.head()
main_merge

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [20]:
groupby_schoolname = main_merge.groupby(["school_name"])
school_df = pd.DataFrame(groupby_schoolname)
school_df

                        0                                                  1
0      Bailey High School         Student ID         student_name gender ...
1     Cabrera High School         Student ID    student_name gender grade...
2    Figueroa High School        Student ID     student_name gender grade...
3        Ford High School         Student ID     student_name gender grad...
4     Griffin High School         Student ID       student_name gender gr...
5   Hernandez High School         Student ID       student_name gender gr...
6      Holden High School         Student ID       student_name gender gr...
7       Huang High School        Student ID       student_name gender gra...
8     Johnson High School         Student ID     student_name gender grad...
9        Pena High School         Student ID        student_name gender g...
10  Rodriguez High School         Student ID       student_name gender gr...
11    Shelton High School        Student ID      student_name gender grad...
12     Thomas High School         Student ID     student_name gender grad...
13     Wilson High School         Student ID       student_name gender gr...
14     Wright High School         Student ID       student_name gender gr...

In [109]:
# Calculate the total student count

# Calculate the total school budget and per capita spending
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

# Calculate the average test scores

# Calculate the passing scores by creating a filtered data frame

# Convert to data frame

# Minor data munging

# Display the data frame

## Top Performing Schools (By Passing Rate)

In [ ]:
# Sort and show top five schools

## Bottom Performing Schools (By Passing Rate)

In [ ]:
# Sort and show bottom five schools

## Math Scores by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

## Reading Score by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

# Combine series into single data frame

# Minor data munging

# Display the data frame

## Scores by School Spending

In [ ]:
# Establish the bins -- choose any set of bins you would like, but see below for testing bins
# to test, set your bins as follows: [0, 585, 615, 645, 675]
# ALSO -- Note that the values for `% Passing Math`, `% Passing Reading` and `% Overall Passing Rate`
# were computed using averages of averages -- your results may vary if you use weighted averages 

# Categorize the spending based on the bins

# Assemble into data frame

# Minor data munging

# Display results

## Scores by School Size

In [ ]:
# Establish the bins 

# Categorize the spending based on the bins

# Calculate the scores based on bins

# Assemble into data frame

# Minor data munging

# Display results

## Scores by School Type

In [ ]:
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing Rate

# Assemble into data frame

# Minor data munging

# Display results